<div class="relative w-full min-h-screen flex justify-center overflow-hidden animate-pageIn">

    <!-- Background -->
    <img src="/assets/img/15.CR3" class="w-full max-w-md md:max-w-3xl lg:max-w-md h-screen object-cover object-center bg-fixed" alt="Background">

    <div class="absolute inset-0 bg-black/40 z-0 backdrop-blur-[1px]"></div>

    <!-- Overlay Content -->
    <div
        class="animate-fadeIn absolute inset-0 z-10 overflow-y-auto scrollbar-hide flex flex-col items-center py-12 text-center text-[#C6A451] [text-shadow:1px_1px_2px_rgba(0,0,0,0.8),_0_0_10px_rgba(198,164,81,0.3)]">

        <h1 class="text-[24px] md:text-[32px] lg:text-[28px] animate-popIn">
            សិរីមង្គលអាពាហ៍ពិពាហ៍
        </h1>

        <div class="mt-6 w-full max-w-100 px-2 mx-auto flex justify-between items-start text-[12px] leading-6 content2 animate-slideUp">

            <div class="flex flex-col">
                <div class="flex gap-x-4">
                    <span class="w-16">លោក</span>
                    <b style="font-family: Moul;">មាស សាមិត្ត</b>
                </div>
                <div class="flex gap-x-4">
                    <span class="w-16">លោកស្រី</span>
                    <b style="font-family: Moul;">ញិល សាវឿន</b>
                </div>
            </div>

            <div class="flex flex-col">
                <div class="flex gap-x-4">
                    <span class="w-16">លោក</span>
                    <b style="font-family: Moul;">កែវ សារ៉េត</b>
                </div>
                <div class="flex gap-x-4">
                    <span class="w-16">លោកស្រី</span>
                    <b style="font-family: Moul;">ញឹក រស្មី</b>
                </div>
            </div>

        </div>

        <div class="mt-12 w-full max-w-100 px-2 mx-auto leading-6 text-center animate-slideUp delay-100">
            <p class="text-[12px] mb-2 title font-bold">យើងខ្ញុំមានកិត្តិយសសូមគោរពអញ្ជើញ</p>
            <p class="text-[14px] content1">
                សម្ដេច ឯកឧត្តម លោកឧកញ៉ា លោកជំទាវ លោក លោកស្រី អ្នកនាងកញ្ញា
                និងប្រិយមិត្ត អញ្ជើញចូលរួមជាភ្ញៀវកិត្តិយសដើម្បីប្រសិទ្ធពរជ័យ សិរីសួស្ដី
                ជ័យមង្គលក្នុងពិធីសិរីមង្គលអាពាហ៍ពិពាហ៍ កូនប្រុស កូនស្រី របស់យើងខ្ញុំ
            </p>
        </div>

        <div class="items-center justify-between flex gap-14 text-[14px] py-10 px-4 lg:py-16 md:py-16 animate-slideUp delay-150 hover:scale-105 transition">
            <span class="title">
                កូនប្រុសនាម
                <p style="font-family: Moul;" class="mt-2 font-bold">ញិល សមសិទ្ធិ</p>
            </span>
            <img src="/assets/icon/wedding.png" class="w-10 h-10 object-contain" alt="Wedding Icon">
            <span class="title">
                កូនស្រីនាម
                <p style="font-family: Moul;" class="mt-2 font-bold">ចន ស្រីរ័ត្ន</p>
            </span>
        </div>

        <div class="w-full max-w-100 px-2 mx-auto leading-6 text-center animate-slideUp delay-200">
            <p class="text-[14px] content1">
                ដែលនឹងប្រព្រឹត្តទៅ <br>
                នៅថ្ងៃ <b>អាទិត្យ</b> ទី <b>២១</b> ខែ <b>មិថុនា</b> ឆ្នាំ <b>២០២៦</b>
                ត្រូវនឹងថ្ងៃ <b>៧កើត</b> ខែ <b>បឋមាសាឍ</b> ឆ្នាំ <b>មមី អដ្ឋស័ក</b> ព.ស. <b>២៥៧០</b>
                វេលាម៉ោង <b>៤:០០ រសៀល</b> ស្ថិតនៅ <b>គេហដ្ឋានខាងស្រី</b> ភូមិ <b>សូភី</b> ឃុំ <b>សំបូរ</b> ស្រុក
                <b>រមាសហែក</b> ខេត្ត <b>ស្វាយរៀង</b>។
            </p>
        </div>

        <div class="lg:mt-8 md:mt-6 mt-4 flex items-center px-4 py-2 bg-black/20 rounded-full mx-auto content1 w-fit animate-bounceSoft">

            <img src="/assets/icon/scroll.png" class="w-7 h-7 object-contain scroll-icon" alt="Down Icon">

            <p class="text-[14px] ml-2 leading-tight">
                សូមអូសចុះក្រោម <br>
                Scroll Down
            </p>

        </div>

        <div class="mt-8 w-full max-w-100 px-2 mx-auto leading-6 text-center animate-slideUp delay-300">

            <!-- Calendar Link -->
            <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=កម្មវិធីពិសេស&dates=20260621T000000/20260621T235900"
                target="_blank" class="relative w-full h-12 flex justify-center items-center cursor-pointer">

                <!-- Background Frame -->
                <img src="/assets/img/Fr.png"
                    class="absolute inset-0 w-full h-full object-contain frame-animation opacity-70" alt="Frame">

                <!-- Text -->
                <p class="relative z-10 text-[12px] text-[#886711] text-shadow-lg content">
                    កត់ត្រាថ្ងៃកម្មវិធី
                </p>
            </a>

            <div
                class="mt-6 text-center bg-black/10 backdrop-blur-lg p-4 rounded-lg w-90 mx-auto text-shadow-none text-shadow-yellow-500 animate-fadeInUp hover:scale-105 transition">
                <p class="text-[12px] mb-1 title">រាប់ថយក្រោយ</p>
                <div class="flex items-center justify-center gap-2">

                    <div class="bg-yellow-50 p-3 rounded-lg text-center min-w-18">
                        <p class="text-[24px] title font-bold ">{{ days }}</p>
                        <p class="text-[12px] mt-4">ថ្ងៃ</p>
                    </div>

                    <div class="bg-yellow-50 p-3 rounded-lg text-center min-w-18">
                        <p class="text-[24px] title font-bold ">{{ hours }}</p>
                        <p class="text-[12px] mt-4">ម៉ោង</p>
                    </div>

                    <div class="bg-yellow-50 p-3 rounded-lg text-center min-w-18">
                        <p class="text-[24px] title font-bold ">{{ minutes }}</p>
                        <p class="text-[12px] mt-4">នាទី</p>
                    </div>

                    <div class="bg-yellow-50 p-3 rounded-lg text-center min-w-18">
                        <p class="text-[24px] title font-bold">{{ seconds }}</p>
                        <p class="text-[12px] mt-4">វិនាទី</p>
                    </div>
                </div>
                <p class="text-[12px] mt-2">ថ្ងៃអាទិត្យ ទី ២១ ខែ មិថុនា ឆ្នាំ ២០២៦</p>
            </div>
        </div>

        <div class="mt-10 w-full flex flex-col items-start justify-center">

            <!-- Header -->
            <div class="flex flex-col items-center justify-center mx-auto">
                <img src="/assets/icon/notes.png" class="w-8 h-8 object-contain " alt="Notes Icon">

                <p class="text-[14px] mt-2 mb-4 text-center w-full">
                    របៀបវារៈកម្មវិធី
                </p>
            </div>

            <!-- Tabs -->
            <div class="flex mb-4 w-full mx-auto px-10">

                <button (click)="showTab(1)" [ngClass]="activeTab === 1 
                    ? 'bg-white/70 font-bold' 
                    : 'bg-transparent'" class="rounded-lg text-[12px] transition w-full py-1">
                    ថ្ងៃទី១
                </button>

                <button (click)="showTab(2)" [ngClass]="activeTab === 2 
                ? 'bg-white/70 font-bold' 
                : 'bg-transparent'" class="rounded-lg text-[12px] transition w-full py-1">
                    ថ្ងៃទី២
                </button>

            </div>

            <!-- CONTENT WRAPPER (IMPORTANT FIX HERE) -->
            <div class="w-full mx-auto px-14 text-left flex flex-col items-start">

                <!-- Day 1 -->
                @if (activeTab === 1) {
                <div class="w-full text-left">

                    <p class="mb-4 text-[10px] text-center">
                        ថ្ងៃសៅរិ័​​ ទី ២០ ខែ មិថុនា ឆ្នាំ ២០២៦
                    </p>

                    <ul class="space-y-6 text-[14px] text-left content1 text-shadow-none">
                        <li class="flex gap-4">
                            <img src="/assets/icon/1.png" class="w-10 h-10 object-contain shrink-0 shadow "
                                alt="Notes Icon">
                            <p>២ៈ០០ នាទីរសៀល<br> ពិធីក្រុងពាលី</p>
                        </li>
                        <li class="flex gap-4">
                            <img src="/assets/icon/2.png" class="w-10 h-10 object-contain shrink-0 shadow "
                                alt="Notes Icon">
                            <p>០៤ៈ០០ នាទីរសៀល<br> ពិធីសូត្រមន្តចម្រើនព្រះបរិត្ថ</p>
                        </li>
                        <li class="flex gap-4">
                            <img src="/assets/icon/3.png" class="w-10 h-10 object-contain shrink-0 shadow "
                                alt="Notes Icon">
                            <p>០៥ៈ០០ នាទីល្ងាច<br> អញ្ជើញភ្ញៀវកិត្តិយសពិសារអាហារពេលល្ងាច</p>
                        </li>
                    </ul>

                </div>
                }

                <!-- Day 2 -->
                @if (activeTab === 2) {
                <div class="w-full text-left">

                    <p class="mb-4 text-[10px] text-center">
                        ថ្ងៃអាទិត្យ ទី ២១ ខែ មិថុនា ឆ្នាំ ២០២៦
                    </p>

                    <ul class="space-y-6 text-[14px] text-left content1 text-shadow-none">

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/1.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៦:៣០ នាទីព្រឹក<br> ជួបជុំភ្ញៀវកិត្តិយស ដើម្បីរៀបចំហែជួន</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/4.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៧:០០ នាទីព្រឹក<br> ពិធីកណាត់ (ហែជួន) ចូលរោងជ័យ</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/3.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៧:៣០ នាទីព្រឹក<br> អញ្ជើញភ្ញៀវកិត្តិយស ពិសាអាហារពេលព្រឹក</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/5.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៨:០០ នាទីព្រឹក<br> ពិធីសូត្រមន្ត និងបំពាក់ចិញ្ចៀន</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/6.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៩:៣០ នាទីព្រឹក<br> ពិធីកាត់សក់បង្កក់សិរី ចម្រើនកេសា</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/7.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>១០:៣០ នាទីព្រឹក<br> ពិធីសំពះផ្ទឹម សែនចងដៃ ព្រះថោងនាងនាគ</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/3.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>១២:០០ នាទីថ្ងៃត្រង់<br> អញ្ជើញភ្ញៀវកិត្តិយស ពិសាអាហារថ្ងៃត្រង់</p>
                        </li>

                        <li class="flex gap-4 items-start">
                            <img src="/assets/icon/8.png" class="w-10 h-10 object-contain shrink-0 shadow" alt="Icon">
                            <p>៥:០០ នាទីល្ងាច<br> ទទួលបដិសណ្ឋារកិច្ចភ្ញៀវកិត្តិយស និងពិសាភោជនាហារពេលល្ងាច ដោយមេត្រីភាព</p>
                        </li>

                    </ul>

                </div>
                }

            </div>

        </div>

        <div class="mt-10 w-full max-w-100 px-2 mx-auto leading-6 text-center">

            <img src="/assets/icon/photo.png" class="w-8 h-8 object-contain mx-auto" alt="Heart Icon">

            <p class="text-[14px] mt-2 mb-4 text-center w-full">
                វិចិត្រសាល
            </p>

            <!-- Gallery -->
            <div class="grid grid-cols-3 gap-4">

                <img src="/assets/img/5.CR3" class="object-cover rounded-lg cursor-pointer hover:scale-105 duration-300"
                    (click)="openImage(0)" alt="Gallery Image">

                <img src="/assets/img/2.CR3" class="object-cover rounded-lg cursor-pointer hover:scale-105 duration-300"
                    (click)="openImage(1)" alt="Gallery Image">

                <img src="/assets/img/3.CR3" class="object-cover rounded-lg cursor-pointer hover:scale-105 duration-300"
                    (click)="openImage(2)" alt="Gallery Image">

                <img src="/assets/img/8.CR3" class="object-cover rounded-lg cursor-pointer hover:scale-105 duration-300"
                    (click)="openImage(3)" alt="Gallery Image">

                <img src="/assets/img/10.CR3"
                    class="object-cover rounded-lg cursor-pointer hover:scale-105 duration-300" (click)="openImage(4)"
                    alt="Gallery Image">

                <img src="/assets/img/13.CR3"
                    class=" object-cover rounded-lg cursor-pointer hover:scale-105 duration-300" (click)="openImage(5)"
                    alt="Gallery Image">
            </div>

            <!-- Popup -->
            @if(showPopup) {
            <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
                <!-- Content -->
                <div class="relative flex flex-col items-center">

                    <!-- Close -->
                    <button
                        class="absolute top-2 right-2 w-8 h-8 rounded-full bg-black/40 backdrop-blur flex items-center justify-center text-white text-2xl z-50"
                        (click)="closePopup()">
                        ×
                    </button>

                    <!-- Image -->
                    <img [src]="images[currentImage]"
                        class="md:max-w-[70vw] max-h-[65vh] rounded-xl shadow-2xl" alt="Popup Image">

                    <!-- Buttons Under Image -->
                    <div class="flex gap-6 mt-5">

                        <!-- Left -->
                        <button
                            class="w-8 h-8 rounded-full bg-white/20 backdrop-blur flex items-center justify-center text-white text-4xl hover:bg-white/30 duration-300"
                            (click)="prevImage()">
                            ‹
                        </button>

                        <!-- Right -->
                        <button
                            class="w-8 h-8 rounded-full bg-white/20 backdrop-blur flex items-center justify-center text-white text-4xl hover:bg-white/30 duration-300"
                            (click)="nextImage()">
                            ›
                        </button>

                    </div>

                </div>

            </div>
            }
        </div>

        <div
            class="mt-14 text-center bg-black/10 backdrop-blur-lg p-4 rounded-lg w-90 mx-auto text-shadow-none text-shadow-yellow-500">
            <h1 class="text-[14px] mb-2">សេចក្ដីថ្លែងអំណរគុណ</h1>
            <hr>
            <p class="text-[13px] mt-2 leading-6 content1">
                យើងខ្ញុំសូមថ្លែងអំណរគុណយ៉ាងជ្រាលជ្រៅចំពោះការអញ្ជើញចូលរួមជាភ្ញៀវកិត្តិយសក្នុងពិធីរៀបអាពាហ៍ពិពាហ៍របស់យើងខ្ញុំ
                និងសូមខន្តីអភ័យទោស ដោយពុំបានជួបអញ្ជើញដោយផ្ទាល់ និងការសរសេរឈ្មោះរបស់ភ្ញៀវកិត្តិយសមិនបានត្រឹមត្រូវ
                ឬពុំបានសរសេរឈ្មោះ។
                <br><br>
                សូមគោរពជូនពរ ឯកឧត្តម លោកអ្នកឧកញ៉ា អ្នកឧកញ៉ា ឧកញ៉ា លោកជំទាវ លោក លោកស្រី អ្នកនាង កញ្ញា
                និងភ្ញៀវកិត្តិយសទាំងអស់មានសុខភាពល្អ និងទទួលបានជោគជ័យគ្រប់ភារកិច្ច។
                <br>
                សូមអរគុណ!
            </p>
        </div>
        <div class="mt-14 w-full max-w-100 px-2 mx-auto">
            <img src="/assets/icon/location.png" class="w-8 h-8 object-contain mx-auto" alt="Location Icon">

            <p class="text-[14px] mt-2 mb-2 text-center w-full">ទីតាំងកម្មវិធី</p>
            <p class="text-[16px] mb-3 text-center w-full content1">ពិធីមង្គលការ និង ពិសារភោជនាហារ</p>
            <p class="text-[13px] mb-3 text-center w-full content1">
                ភូមិសូភី ឃុំសំបូរ ស្រុករមាសហែក ខេត្តស្វាយរៀង
            </p>
            <div class="relative w-full h-10 flex justify-center items-center mt-4">
                <img src="/assets/img/Fr.png"
                    class="absolute inset-0 w-full h-full object-contain frame-animation opacity-70" alt="Frame">

                <div class="relative z-10 flex items-center justify-center mx-auto gap-2 text-[#886711]">
                    <img src="/assets/icon/location.png" class="w-4 h-4 object-contain" alt="Location Icon">
                    <a href="https://www.google.com/maps/place/11%C2%B028'38.0%22N+105%C2%B040'49.5%22E/@11.4772129,105.6797803,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d11.4772129!4d105.6804167?hl=en"
                        target="_blank" class="text-[12px] font-bold text-shadow-lg content">
                        មើលផែនទី
                    </a>
                </div>
            </div>

        </div>

        <div class="mt-14 w-full max-w-100 px-2 mx-auto text-center">
            <img src="/assets/icon/scan.png" class="w-10 h-10 object-contain mx-auto" alt="Scan Icon">
            <p class="text-[16px] mt-2 mb-2 text-center w-full">ស្កេន QR Code</p>
            <p class="text-[15px] mb-3 text-center w-60 content1 flex flex-col items-center justify-center mx-auto">
                ភ្ញៀវកិត្តិយស​ ក៏អាចផ្ញើរចំណងដៃតាមរយៈ QR Code របស់យើងខ្ញុំនៅខាងក្រោមនេះ
            </p>
            <div class="flex items-center justify-center gap-4 w-full mt-4">
                <img src="/assets/img/khr.jpg" class="h-50 object-cover rounded-lg shadow-lg cursor-pointer" alt="QR Code">
                <img src="/assets/img/usd.jpg" class="h-50 object-cover rounded-lg shadow-lg cursor-pointer" alt="QR Code">
            </div>
        </div>
    </div>
</div>